# Ignore build artifacts
*.egg-info/
__pycache__/
**/__pycache__/
build/
dist/
# Ignore virtual environment directories
venv/
env/
.venv/
ENV/
env.bak/


# Ignore compiled Python files
*.pyc
*.pyo

# Ignore temporary files
*.tmp
*.log

# Ignore architecture-specific files
Architecture/

# Ignore egg-info directory
*.egg-info/
